.title-special{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    
}
@media (max-width: 992px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 576px) {
    .product-grid {
        grid-template-columns: 1fr; 
    }
}

.product-cardd {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 280px; 
    
}

.product-card:hover {
    transform: translateY(-5px);
}

.image-container {
    width: 100%;
    height: 300px; 
    
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-rate{
    margin-bottom: 15px;
}
